
/* 질문 박스 */
#qna{
  display: none;
}

.qBox {
	position: relative;
	background: whitesmoke;
	border-radius: .4em;

  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  width: 80%;
}

.qBox:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-top-color: whitesmoke;
	border-bottom: 0;
	border-right: 0;
	margin-left: -9.5px;
	margin-bottom: -19px;
  text-align: center;
}

/* 선택지 영역 */
.answerList,
.answerList::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.answerList {
  border-radius: 20px;
  font-size: 20px;
  width: 80%;

  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.answerList::before,
.answerList::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.answerList:hover {
  color: #2ecc71;
}

.answerList::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.answerList:hover:after {
  width: 100%;
}


/* 진행도 */
.status{
  height: 15px;
  width: 80%;
  background-color: white;
  border-radius: 50px;

}

.statusBar{
  height: 100%;
  width: 10%;
  border-radius: 50px;
  /*출처 : https://www.colorzilla.com/gradient-editor*/
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}
